

 html {
      height: 100%;
    }
    body {
        background-color: #B21D0A;
       height: 100%;
       width: 100%;

    }

    header {
        background-color:red;
        text-align: center;
        color:white;
        padding:10px;
        margin:5px;
        font-size: 20px;
        display: block;
        width: 100%;


    }
#snowflakeContainer
{
    position: absolute;
    left: 50px;
    top: 0px;
}
.snowflake
{
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover
{
    cursor: default;
}
    header img{
        height:50px;
    }
    nav {
        /*float:left;*/
        line-height:;
        width: 100%;
        background-color:green;
        /*display:inline-block;*/

    }
    nav ul {
        list-style-type: none;
        display:flex;
        justify-content:space-around;
    }
    nav ul li{
        display: inline-block;
        font-size:20px;
    }
    nav ul li a img
    {
        width:50%;
        height:5%;
    }
    a {
        color: black;
        font-style:big-dripper;
    }
    section {
        width: 516px;
        display: inline-block;
        color:white;
        /*float:left;*/
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
        clear:both;
    }
